.parentcontainer {
  float: left;
  display: flex;
  width: 45%;
  margin-top: 100px;

  .table-class {
    border: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;

    th,
    td {
      text-align: left;
      padding: 16px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}
